*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background: url('../image/home/showcase.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(51,51,51,0.6);
}

.top{
    background: transparent;
}

.nav-bar-contents{
    display: flex;
    color: #f4f4f4;
    align-content: center;
    justify-content: space-between;
}

.nav-menu{
    display: flex;
}

.nav-menu li{
    list-style-type: none;
}

.nav-menu a{
    color: #f4f4f4;
    display: block;
    padding: 20px;
}

.nav-menu a:hover{
    border-bottom: 2px solid #28a745 ;
}

.nav-logo{
    padding-top: 12px;
}

.hero{
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.hero *{
    z-index: 10;
}

.text-primary{
    color:#28a745;
}


.hero-content h1{
    font-size: 55px;
    font-weight: 900;
    padding-bottom: 20px;
}
.hero-content p{
    font-weight:550 ;
    line-height: 1.3rem;
    padding-bottom: 10px;
}

.btn-primary{
    display: inline-block;
    margin-top: 8px;
    background-color: #28a745;
    padding: 10px 15px;
    border-radius: 5px;
    color: #f4f4f4;
}

.btn-primary:hover{
    opacity: 0.8;
}

.highlights{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.highlights-content{
    padding: 30px;
    text-align: center;
}

.highlights-content i{
    padding: 15px;
    background-color: #28a745;
    color:#fff;
    border-radius: 50%;
    font-size: 15px;
    margin-bottom: 20px;
}

.highlights-content h3{
    padding-bottom: 10px;
}

.about{
    display: flex;
}
.about img{
    width: 50%;
    object-fit: cover;
}

.about-content{
    background-color: #28a745;
    color: rgb(219, 219, 219);
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom: 30px;
}

.about-content p{
    line-height: 1.5rem;
    padding-bottom: 10px;
}

.about-content h1{
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 10px;
}

.about-content a{
    border: 2px solid rgb(204, 204, 204);
}

.blog{
    display: flex;
}

.blog img{
    width: 50%;
}

.blog-content{
    background-color: rgb(77, 77, 241);
    color: rgb(219, 219, 219);
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom: 30px;
}

.blog-content p{
    line-height: 1.5rem;
    padding-bottom: 10px;
}

.blog-content h1{
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 10px;
}

.blog-content a{
    border: 2px solid rgb(204, 204, 204);
    background-color: rgb(77, 77, 241);
}

.cases{
    padding-bottom: 10px;
}

.case-section-header{
    padding:30px;
    text-align: center;
}

.case-section-header h4{
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
}

.case-section-header h2{
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 550;
}

.row{
    display: flex;
    flex-direction: column;
    padding: 4px;
    align-content: center;
    justify-content: center;
}

.column{
    display: flex;
    flex-wrap: wrap;
}

.column img{
    flex:25%;
    max-width: 25%;
    padding:4px;
}

.column img:hover{
    opacity: 0.7;
}

.team{
    padding-bottom: 20px;
}

.team-header{
    padding:30px;
    text-align: center;
}

.team-header h4{
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
}

.team-header h2{
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 550;
}

.team-row{
    display: flex;
}

.team-person{
    text-align: center;
    padding: 20px;
}

.team-person img{
    width: 100%;
    border-radius: 50%;
}

.team-person h4{
    padding-top: 8px;
    font-size: 16px;
    font-weight: 500;
}

.contact{
    display: flex;
}
.contact img{
    width: 50%;
}
.contact-form{
    padding-top: 80px;
    padding-left: 20px;
    width: 100%;
    background-color: rgb(240, 236, 236);
}

.contact-form h1{
    font-size: 39px;
    font-weight: 300;
    padding-bottom: 20px;
}

.contact-form input{
    width: 95%;
    height: 38px;
    margin-bottom: 15px;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5px;
}

.contact-form a{
    color: #fff;
    background-color: #198633;
    display: inline-block;
    width: 95%;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form a:hover{
    background-color: #14722a;
}

.footer{
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}
.socials{
    display: flex;
    justify-content: center;
}
.socials a{
    padding: 20px;
    font-size: 23px;
    color: #fff;
}

.socials a:hover{
    color: #14722a;
}

.footer p{
    font-size: 13px;
    padding: 10px;
}

.blog-content{
    color: #fff;
    background-color: rgb(77, 77, 241);;
}

.blog-content a{
    /* background-color:rgb(113, 113, 243); */
    border: 2px solid #fff;
}

.blog-content h1{
    font-size: 40px;
    font-weight: 300;
}

.bg-dark{
    background-color: #333;
}

.txt-lite{
    color:#fff
}

.txt-dark{
    color: #333;
}

.bg-lite{
    background-color: #fff;
}